#since {

    font-size: 10px;
}

#headingContactUs {
    text-align: center;
    font-size: 3rem;
}

#getInTouch {
    font-size: 1.25rem;
    text-align: center;
}

#dmForOrder {
    text-align: center;
    font-size: 1.25rem;
    color: rgb(238, 14, 14);
}

.social-media-links {
    text-align: center;
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links a {

    position: relative;
    width: 70px;
    height: 70px;
    margin: 1.5rem;
    text-align: center;
    line-height: 65px;
    font-size: 1.7rem;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    overflow: hidden;
}